footer {
    width: 1112px;
    border-top-width: 1px;
    max-width: 100%;
    margin-top: 96px;
    padding: 64px 24px 64px 24px;
    background: rgb(13, 19, 34);
}

.footer-div {
    max-width: 100%;
    background: rgba(13, 19, 34, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.footer-coluna {
    width: 236px;
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-coluna h3 {
    font-family: Barlow Condensed;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: rgba(100, 116, 139, 1);
}

.footer-button {
    display: flex;
    justify-content: flex-start;
    max-width: 142.03125px;
    height: 28px;
    gap: 10px;
    background: rgba(13, 19, 34, 1);
    cursor: pointer;
    border: none;
}

.footer-descricao {
    padding-top: 16px;
}

.footer-descricao p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.75px;
    letter-spacing: 0px;
    color: rgba(100, 116, 139, 1);
}

.footer-redes {
    padding-top: 20px;
    display: flex;
    gap: 8px;
}

.rede-social {
    width: 36px;
    height: 36px;
    border-radius: 12px;
    border-width: 1px;
    font-family: Cousine;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(100, 116, 139, 1);
    background: rgba(20, 29, 48, 1);
    border: 1px solid rgba(37, 99, 235, 0.15);
    cursor: pointer;
}

.rede-social:hover {
    background: #1b2740;
}

.footer-lista li {
    padding-top: 10px;
}

.footer-lista a {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(100, 116, 139, 1);
    text-decoration: none;
    transition: .2s;
}

.footer-lista a:hover {
    color: white;
}

.footer-contato li {
    display: flex;
    padding-top: 12px;
    gap: 10px;
    align-items: center;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgba(100, 116, 139, 1);
}

.footer-lista, .footer-contato {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-bottom {
    padding-top: 48px;
}

.footer-bottom div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    border-top: 1px solid rgba(37, 99, 235, 0.15);
    font-family: Cousine;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgba(100, 116, 139, 1);
}