body {
    background-color: #080C14;
    max-width: 1112px; width: 100%;
    margin: 0 auto;
}
.secao-titulo {
    width: 100%;
    max-width: 1112px; width: 100%;
    background: linear-gradient(180deg, #162456 40%, #080C14 100%);
    font-family: Inter;
    text-align: center;
    margin: 0 auto;
   padding: 60px 24px;
   color: white
}

.secao-titulo-label {
    color: rgb(59, 91, 219);
    font-family: 'Cousine', monospace;
    letter-spacing: 2px;
    font-size: 14px;
}

.secao-titulo-texto {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900;
    font-size: 56px;
    margin: 16px 0;
}

.secao-titulo-texto .destaque {
    display: block;
    color: rgb(59, 91, 219);
}

.secao-titulo-descricao {
    color: #94A3B8;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

#cards{
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    max-width: 1112px; width: 100%;
    margin: 0 auto;
    background-color: #080C14;
    padding: 0 24px;
    

}

.card{
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 338.66px;
    border: 1px  solid #2563EB26;
    border-radius: 16px;
    background-color: #0D1322;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 32px;
    box-sizing: border-box;
}

.card img{
    width: 48px;
    height: 48px;
}

.card span{
    color: #F1F5F9;
    font-weight: 900;
    padding-top: 20px;
    padding-top: 20px;
    font-size: 30px;

}

.card p{
    padding-top: 12px;
    font-weight: 400;
    font-size: 14px;
    color: #64748B;
    font-family: Inter;
    line-height: 22.75px;
}

#nossa_jornada{
    display: flex;
    flex-direction: column;
    max-width: 672px;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
    box-sizing: border-box;
}
.jornada_ano{
    font-family: 'Cousine', monospace;
    font-weight: 400;
    font-size: 12px;
    color: #2563EB;
}
.jornada_titulo_item{
    padding-top: 8px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #F1F5F9;
}

.jornada_item {
    display: flex;
    gap: 24px;
    margin-bottom: 60px;
}

.jornada_item p{
    padding-top: 4px;
    font-family: 'Inter', monospace;
    font-size: 14px;
    font-weight: 400;
    color: #64748B;
}

#jornada_titulo{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Cousine', monospace;
    letter-spacing: 1.2px;
    font-weight: 400;
    color:#2563EB
}

.jornada_numero{
    font-family: 'Cousine', monospace;
    font-weight: 700;
    font-size: 12px;
    color: #2563EB;
    padding: 10px;
    border: 1px solid #2563EB4D;
    background-color: #2563EB1A;
    border-radius: 999px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-shrink: 0;
    position: relative; 
}

.jornada_item .jornada_numero::after { /*cria um pseudo elemento pra fazer a linha*/
    content: ""; /*precisa disso pra aparecer mesmo vazio*/
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 62px;
    background-color: #2563EB4D;
}

#resumo_jornada{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1064px;
    width: 100%;
    height: 145px;
    margin: 80px;
    border-radius: 16px;
    border: 1px solid #2563EB26;
    background-color: #0D1322;
    box-sizing: border-box;
}

.coluna_resumo{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
}

.coluna_resumo > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coluna_num{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #2563EB;
}

.coluna_desc{
    font-family: 'Cousine', monospace;
    font-weight: 400;   
    font-size: 12px;
    line-height: 16px;
    color: #64748B;
}
